{% extends "main/base.html" %}

{% block page_title_header %}<title>Редактирование товара</title>{% endblock %}

{% block header %}
    {% include 'main/header.html' with user=user %}
{% endblock %}

{% block content %}
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Редактирование товара</h2>
    <p class="lead">Измените существующий товар в нашем магазине</p>
</div>
<form class="" novalidate="" method="post">
    {% csrf_token %}
    {% load main_extras %}
    <div class="mb-3">
        {% for field in form %}
            {% if field.name in filds_for_form_control %}
                {% if field.errors %}
                    {{ field.label_tag }} {{ field|addclass:'form-control is-invalid' }}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ field.label_tag }} {{ field|addclass:'form-control' }}
                {% endif %}
            {% elif field.name in filds_for_custom_select %}
                {% if field.errors %}
                    {{ field.label_tag }} {{ field|addclass:'custom-select d-block w-100 is-invalid' }}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ field.label_tag }} {{ field|addclass:'custom-select d-block w-100' }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Update">Сохранить</button>
</form>
{% endblock %}