{% extends "main/base.html" %}

{% block page_title_header %}<title>Каталог</title>{% endblock %}

{% block header %}
    {% include 'main/header.html' with user=user avatar=avatar %}
{% endblock %}

{% block content %}
<main role="main" class="container">
  <div class="starter-template">
    {% csrf_token %}
    {% load static %}
    {% load sorl_thumbnail %}
    <div class="card" >
        {% if goods.image %}
          <title>{{ goods.name }}</title>
          {% thumbnail goods.image "x148" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top">
          {% endthumbnail %}
        {% else %}
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Future Sale"><title>{{ goods.name }}</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="45%" y="50%" fill="#eceeef" dy=".5em">{{ goods.name }}</text></svg>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ goods.name }}</h5>
          <p class="card-text">{{ goods.description }}</p>
          <p class="card-text">{{ goods.manufacturer }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
              {% if perms.main.change_goods %}
                <a role="button" class="btn btn-sm btn-outline-secondary" href="{% url 'goods-edit' goods.pk %}">Редактировать</a>
              {% endif %}
            </div>
            <small class="text-muted">
                {% for tag in goods.tags.all %}
                    {{ tag.name }} 
                {% endfor %}
            </small>
          </div>
        </div>
    </div>
  </div>
</main>
{% endblock %}
