{% extends "main/base.html" %}

{% block page_title_header %}<title>Каталог</title>{% endblock %}

{% block header %}
    {% include 'main/header.html' with user=user %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Каталог</h1>
    <div class="row">
    {% for goods in object_list %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>{{ goods.name }}</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">{{ goods.name }}</text></svg>
          <div class="card-body">
            <p class="card-text">{{ goods.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/goods/{{ goods.id }}/">Подробнее</a></button>
              </div>
              <small class="text-muted">100500 лайков</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}