{% extends 'main/base.html' %}

{% block page_title_header %}<title>Bomzhon</title>{% endblock %}

{% block header %}
    {% include 'main/header.html' with user=user avatar=avatar %}
{% endblock %}

{% block content %}
  {% load static %}
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Добро пожаловать в Бомжон!</h2>
    <p class="lead">Сайт все ещё в разработке<br>Попробуйте зайти позже</p>
  </div>
  {% if turn_on_block %}
    <div class="card mb-4 shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Future Sale"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="45%" y="50%" fill="#eceeef" dy=".3em">Большая распродажа</text></svg>
      <div class="card-body">
        <p class="card-text">Ликвидация магазина, бла-бла-бла, отдаём все задарма, покупай скорее.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Уже бегу!</button>
          </div>
          <small class="text-muted">Осталось 9 минут!</small>
        </div>
      </div>
    </div>
  {% else %}
  {% endif %}
  {% load main_extras %}
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Future Sale"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">Тестовый div для всякой ерунды</text></svg>
    <div class="card-body">
      {% if user.is_authenticated %}
        <p class="card-text">Привет, {{ user.get_username }}. Любишь ли ты песни Ирины Олегровой?</p>
      {% else %}
        <p class="card-text">Привет, Андрей. Ну или залогинься, если ты не Андрей.</p>
      {% endif %}
      <p class="card-text">{{ text_for_filter|dyslexia }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Ясно</button>
        </div>
        {% current_time "%Y-%m-%d %I:%M %p" as the_time %}
        <small class="text-muted">Текущее время {{ the_time }}</small>
      </div>
    </div>
  </div>
{% endblock %}